@{
    ViewBag.Title = "Contact";
}
<link href="~/content/Site.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
<link href="~/content/main.css" rel="stylesheet">

<style>
    #main-contact-container {
        height: 1200px;
        background-image: url('../../Content/Images/Contact-bkgrnd.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #dot-nav {
        visibility: hidden;
    }
    #content {
        /*border: 5px solid green;*/
        height: 700px;
        background-color: #dce0e2;
        width: 50%;
        margin: auto;
    }
    #title {
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0px;
    }
    .resize-col {
        padding-left: 25px;
        padding-right: 25px;
    }
    .contact-title {
        font-size: 24px;   
    }
    .fa {
        font-size: 24px;
    }
    #form-container {
    }
    /*.input {
        margin-top: 25px;
    }*/
    input[type=text] {
        width: 100%;
        padding: 10px 20px;
        margin: 6px 0;
        box-sizing: border-box;
    }
    #message {
        width: 100%;
        padding: 10px 20px;
        margin: 6px 0;
        box-sizing: border-box;
    }
    #submit-btn {
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>

<div id="main-contact-container">
    <div class="container-fluid" id="content">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <p id="title">-Connect With Us!-</p>
                    </div>
                </div>
                <hr style="border-top: 5px solid #2d2b2b; width: 350px;" />
                <div class="row">
                    <div class="col-md-6 resize-col">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="contact-title">Get in Touch:</p>
                                <p>
                                    If you have any questions feel free to call, send an email or message us on any of our social media platforms. If you're old fashioned we do snail mail as well but that might take a little longer ;). Either way, We'd love to hear from you!
                                </p>
                            </div>
                            <div class="col-md-12">
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-md-2"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                    <div class="col-md-10"><span>888-668-8168</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    <div class="col-md-10"><span>    Sales@racncap.com</span></div>
                                </div>
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-2"><i class="fa fa-address-card-o" aria-hidden="true"></i></div>
                                    <div class="col-md-10">
                                        <p>
                                            RacNCap Inc.<br />
                                            5009 Walnut Grove Ave.<br />
                                            San Gabriel, CA 91776
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 resize-col">
                        <p class="contact-title">Send us a message:</p>
                        <div class="row">
                            <div class="col-md-12" id="form-container">
                                <div class="row input"><input type="text" placeholder="Your Name"/></div>
                                <div class="row input"><input type="text" placeholder="Email Address"/></div>
                                <div class="row input"><input type="text" placeholder="Telephone Number" /></div>
                                <div class="row input"><textarea id="message" placeholder="Your Message"></textarea></div>
                                <div class="row"><button id="submit-btn" class="btn-default">Submit</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
