@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

<!DOCTYPE html>
<html>
<head>
    <title>Skillfair</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href="~/content/main.css" rel="stylesheet" >
</head>
<body>
    <header class="container">
        <div class="row">
            <h1 class="col-sm-4">Rac N Cap</h1>
            <nav class="col-sm-8 text-right">
                <a class="nav-bar" href="#">More Info</a>
                <a class="nav-bar" href="#">Catalogue</a>
                <a class="nav-bar" href="#">Contact</a>
            </nav>
        </div>
    </header>

    <section class="jumbotron">
        <div class="container">
            <div class="row text-center">
                <h2>RAC N CAP</h2>
                <h3>Custom Truck Covers</h3>
                <a class="btn btn-primary" href="#" role="button"> See all </a>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <figure class="col-sm-6">
                <p>Toyota Tundra</p>
                <img src="http://global.fncstatic.com/static/managed/img/Leisure/2009/bass-pro-shops-tundra.jpg">
            </figure>
            <figure class="col-sm-6">
                <p>Nissan Frontier</p>
                <img src="http://blogs-images.forbes.com/joannmuller/files/2015/01/2016_nissan_titan_xd_06-e1421184609409-1940x1091.jpg">
            </figure>
        </div>
        <div class="row">
            <figure class="col-sm-6">
                <p>Ford F-150</p>
                <img src="http://media.caranddriver.com/images/10q3/357232/ford-f-series-review-2011-ford-f-150-ecoboost-drive-car-and-driver-photo-366545-s-429x262.jpg">
            </figure>
            <figure class="col-sm-6">
                <p>Toyota Tacoma</p>
                <img src="http://blog.caranddriver.com/wp-content/uploads/2015/01/2016-Toyota-Tacoma-Crew-Cab-TRD-Off-Road-4x4-201-626x382.jpg">
            </figure>
        </div>
    </section>
    <footer class="container">
        <div class="row">
            <p class="col-sm-4">&copy; 2016 Rac N Cap</p>
            <ul class="col-sm-8">
                <li class="col-sm-1">
                    <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg">
                </li>
                <li class="col-sm-1">
                    <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg">
                </li>
                <li class="col-sm-1">
                    <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg">
                </li>
                <li class="col-sm-1">
                    <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/medium.svg">
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>
