@font-face {
    font-family: 'lovelo black';
    src: url('../fonts/lovelo black.otf') format('opentype');
}

body {
    font-family: 'lovelo black' ,'Roboto', sans-serif;
    font-weight: 300;
    background-color: #485f77;
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('images/racncap photos/atk_2801 copy.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 70%;
    text-align: center;
    overflow: hidden;
}

/*body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('images/racncap photos/atk_2801 copy.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 70%;
    text-align: center;
    overflow: hidden;
}*/

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

header a {
  padding: 0 20px;
  margin: 0;
  color: white;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

#mainNavContainer {
    background-color: rgba(72,95,119, 0.6);
    width: 500%;
    margin-left: -200%;
    position: relative;
}

#pushDown {
    /*background-color: rgba(72,95,119, 0.6);*/
    height: 500px;
}

#contentContainer {
    margin-left: 38.7%;
}

.mainContent {
    text-align:center;
    width: 400px;
    height: 240px;
    /*border: 1px solid white;*/
    margin: 30px 0px 50px 25px;
    padding: 0px 0px 10px 0px;
}

.mainContent a {
    display: inline-block;
}

.mainContent img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid white;
}

.mainContent span {
    color: grey;
    position: absolute; 
    font-size: 16px;
    top: 10px; 
    left: 0; 
    width: 100%;
    margin-right: -100000px;
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
}

/*.full-page-width {
    width: 100%;
    overflow: hidden;
    height: 500px;
}*/